# Ignore node_modules in the root and frontend directories
node_modules/
/client/node_modules/

# Ignore .env files in the root and frontend directories
/client/.env

# Ignore dist directories in the root and frontend directories
dist/
/client/dist/

# Optional npm cache directory
.npm

.env

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# IDE specific
.vscode/
.idea/
