# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

.env

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# IDE specific
.vscode/
.idea/
